.content {
  background: url(../img/bg2.png);
  width: 100%;
  height: 1500px; }

.content .con-list {
  width: 1090px;
  height: 20px;
  margin: 0 auto; }

.content .box {
  width: 1090px;
  height: 1580px;
  margin: 20px auto 0; }

.content .box > ul > li {
  display: block;
  width: 258px;
  height: 298px;
  border: 1px solid #e8e8e8;
  margin-right: 16px;
  margin-bottom: 16px;
  text-align: center;
  background: #fff;
  position: relative;
  float: left; }

.content .box ul li:nth-of-type(4) {
  margin-right: 0; }

.content .box ul li:nth-of-type(8) {
  margin-right: 0; }

.content .box ul li:nth-of-type(12) {
  margin-right: 0; }

.content .box > ul > li > a > img {
  width: 210px;
  height: 210px;
  margin: 0 auto; }

.content .box > ul > li > i {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  margin: 12px auto;
  cursor: pointer; }

.content .box > ul > li .txt {
  background: #00aeff;
  color: #fff;
  font-size: 12px;
  padding: 5px 4px;
  border-radius: 2px;
  margin-right: 10px; }

.content .box > ul > li .price {
  color: #e60012;
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px; }

.content .box > ul > li .old-price {
  color: #b3b3b3;
  text-decoration: line-through;
  font-size: 14px; }
